/* #c-barchart {
  min-width: 360px;
  max-width: 1600px;
  height:100%;
}

#h-barchart {


  p {
  margin-top: 10px;
  margin-bottom: 15px;
  }
}


#t-barchart {
    max-height: 638px;
    min-height: 452px;
    min-width: inherit;
    max-width: inherit;
    height: 70vh;
    border: solid 1px;
    position: relative;

.axis{
  font-size: 1.4rem;
}

  }

  #tooltip-barchart span{
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  }

  hr{
    margin-bottom: 5px;
  }

  .tooltip-item{
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    font-size:1.4rem;
  }

.label-axis{
  font-size:1.4rem;
}
  

#extra-barchart{

  text-align: center;
  
  p{
  margin-top: 20px;
  margin-bottom: 15px;
  }

  #extra-barchart-value{
    font-size: 3rem;
  }
} */