
#l-cohesion-factor-card{
    display: grid;
    justify-items: stretch;
    column-gap: 2rem;
    row-gap: 1.5rem;
    max-width: 160rem;
    margin:auto;
  
    @include sm{
        grid-template-columns: 1fr;
    }
  
    @include md{
        grid-template-columns: 1fr 1fr;
    }
  
    @include lg{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

    .cohesion-factor button{
        font-weight: 600;
        display: flex;
        font-size: 2.5rem;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: solid 0.2rem;
        border-radius: 1rem;
        height: 23rem;
        width: 100%;
        color: white;
        cursor: pointer;

        span{
            padding: 0 1rem;
        }

    }

    .cohesion-factor-card {
        text-align: center;
        text-transform: uppercase;
        
    
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
    
          li{
            border: solid 1px;
            border-color: #BBC1C7;
            min-width: 8rem;
            min-height: 2.8rem;
            line-height: 2.8rem;
    
          input[type="radio"] {
            display: none;
          }
    
          input[type="radio"]:checked + label {
            background: #595C5E;
            color: #F0F7FF;
          }
    
          label{
            display: block;
            height: 100%;
            font-size: 1.4rem;
            cursor: pointer;
    
          &:hover{
            background: #CFE3DB;
            }
          }
        }
      }
    }