// Screen devices
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;

$color-000: #de4e1c;
$color-001: #891344;
$color-010: #004a7b;
$color-011: #008d36;
$color-100: #88b226;
$color-101: #e29b00;