// Screen devices
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;

$color-000: #76d8e3;
$color-001: #fc8403;
$color-010: #14b37d;
$color-011: #745fff;
$color-100: #f41948;
$color-101: #c7ad04;