/* JOST* */
@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-100-Hairline.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-200-Thin.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-300-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-400-Book.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-500-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-600-Semi.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-700-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-800-Hevy.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-900-Black.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-100-HairlineItalic.otf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-200-ThinItalic.otf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-300-LightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-400-BookItalic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-500-MediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-600-SemiItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-700-BoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-800-HevyItalic.otf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-900-BlackItalic.otf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

/* 
$color-000: #1b9e77;
$color-001: #d95f02;
$color-010: #7570b3;
$color-011: #e7298a;
$color-100: #66a61e;
$color-101: #e6ab02; */
html {
  font-size: 62.5%;
  font-family: "Jost";
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
}

body {
  font-size: 1.6rem;
}

.button {
  text-align: center;
  text-transform: uppercase;
}

.button ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button ul li {
  border: solid 1px;
  border-color: #BBC1C7;
  min-width: 8rem;
  min-height: 2.8rem;
  line-height: 2.8rem;
}

.button ul li input[type="radio"] {
  display: none;
}

.button ul li input[type="radio"]:checked + label {
  background: #595C5E;
  color: #F0F7FF;
}

.button ul li label {
  display: block;
  height: 100%;
  font-size: 1.4rem;
  cursor: pointer;
}

.button ul li label:hover {
  background: #CFE3DB;
}

.tooltip {
  position: absolute;
  min-width: 15rem;
  height: auto;
  background: #fff;
  padding: 0.3rem 1rem;
  pointer-events: none;
  opacity: 0;
  border: solid 0.1rem;
  border-color: #BBC1C7;
  border-radius: 1rem;
}

#c-barchart {
  min-width: 360px;
  max-width: 1600px;
  height: 100%;
}

#h-barchart p {
  margin-top: 10px;
  margin-bottom: 15px;
}

#t-barchart {
  max-height: 638px;
  min-height: 452px;
  min-width: inherit;
  max-width: inherit;
  height: 70vh;
  border: solid 1px;
  position: relative;
}

#t-barchart .axis {
  font-size: 1.4rem;
}

#tooltip-barchart span {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

hr {
  margin-bottom: 5px;
}

.tooltip-item {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  font-size: 1.4rem;
}

.label-axis {
  font-size: 1.4rem;
}

#extra-barchart {
  text-align: center;
}

#extra-barchart p {
  margin-top: 20px;
  margin-bottom: 15px;
}

#extra-barchart #extra-barchart-value {
  font-size: 3rem;
}

#c-cohesion-factor {
  display: grid;
  justify-items: stretch;
  column-gap: 2rem;
  row-gap: 1.5rem;
  max-width: 160rem;
  margin: auto;
}

@media (min-width: 576px) {
  #c-cohesion-factor {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  #c-cohesion-factor {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  #c-cohesion-factor {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#c-cohesion-factor .cohesion-factor {
  font-weight: 600;
  display: flex;
  font-size: 2.5rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 0.2rem;
  border-radius: 1rem;
  height: 23rem;
  width: 100%;
  color: white;
  cursor: pointer;
}

#c-cohesion-factor .cohesion-factor span {
  padding: 0 1rem;
}

#c-cohesion-factor #cohesion-factor-000 {
  background-color: #e6ab02;
}

#c-cohesion-factor #cohesion-factor-001 {
  background-color: #d95f02;
}

#c-cohesion-factor #cohesion-factor-010 {
  background-color: #e7298a;
}

#c-cohesion-factor #cohesion-factor-011 {
  background-color: #1b9e77;
}

#c-cohesion-factor #cohesion-factor-100 {
  background-color: #7570b3;
}

#c-cohesion-factor #cohesion-factor-101 {
  background-color: #66a61e;
}
/*# sourceMappingURL=global.css.map */