html{
    font-size: 62.5%;
    font-family: "Jost";
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}


ul {
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
    margin:0;
}

hr{
    margin: 0;
}

body{
    margin:0;
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}
