

.tooltip {
  position: absolute;
  min-width: 15rem;
  height: auto;
  background: #fff;
  padding: 0.3rem 1rem;
  pointer-events: none;
  opacity: 0;
  border: solid 0.1rem;
  border-color: #BBC1C7;
  border-radius: 1rem;
}



.router-link-exact-active {
  color: red;
}

a{
  color:black;
}

.cohesion-factor-000-color{
  background-color:$color-000;
}

.cohesion-factor-001-color{
  background-color:$color-001;
}

.cohesion-factor-010-color{
  background-color:$color-010;
}

.cohesion-factor-011-color{
  background-color:$color-011;
}

.cohesion-factor-100-color{
  background-color:$color-100;
}

.cohesion-factor-101-color{
  background-color:$color-101;
}

.l-base{
  margin: 0 1rem;
}


.slide-right-enter {
  transform: translate(10px, 10px);
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 2.2s ease;
}