// Screen devices
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;



$color-000: #e6ab02;
$color-001: #d95f02;
$color-010: #e7298a;
$color-011: #1b9e77;
$color-100: #7570b3;
$color-101: #66a61e;

/* 
$color-000: #1b9e77;
$color-001: #d95f02;
$color-010: #7570b3;
$color-011: #e7298a;
$color-100: #66a61e;
$color-101: #e6ab02; */